body{
    //background-color: #efefef;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #000;
    header{
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 100;
        background-color: #ffffffc6;
        border-bottom: 1px solid #ccc;
        padding-right: 50px;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(10px);
        box-shadow: #000 0px 0px 10px;
        scroll-padding-top: 100px;
        h1{
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 400;
        }

        nav{
            word-spacing: 20px;
            padding-right: 50px;
            a{
                text-decoration: none;
                color: #000;
                
            }
        }
        
    }

    .scroll-container{
        //height: 100vh;
        //overflow-y: scroll;
        //scroll-snap-type: y mandatory;
        //Container
        .container{
            width: 100%;
            //height: 100vh;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-content: center;
            align-items: start;
            text-align: center;
            position: sticky;
            scroll-snap-align: center;
            .pitch{
                width: 100%;
                object-fit: cover;
              
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    border-radius: 2rem;
                    z-index: 200;
                    box-shadow: #000 0px 0px 10px;
                    scale: 2;
                    background-color: #000;
                }
            }
            

            .resume{
                display: flex;
                height: 100%;
                align-items: center;
                color: rgb(0, 0, 0);
                backdrop-filter: blur(10px);
                p{
                    font-size: calc(1rem + 1vw);
                    gap: 30px;
                    //font-weight: bold;
                    color: #000000;
                    white-space: pre-line;
                }
            }

            video{
                width: 100%;
                align-self: center;
                justify-self: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                object-fit: cover;
                height: 100%;
            }
            p{
                padding: 40px;
                font-size: calc(1rem + 1vw);
                //font-weight: bold;
                color: #000000;
                white-space: pre-line;
            }
            h4{
                //full screen text
                font-size: calc(1rem + 30vw);
                color: #585757;
                font-weight: bold;
            }
            &.row{
                display: flex ;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: start;
                align-content: start;
                //background-color: #585757;
                color: #fff;
                //flex-wrap: wrap;
                width: 100vw;
                .title{
                    font-family: 'Vina Sans', cursive;
                    //position: absolute;
                    z-index: 1;
                    //top: 0%;
                    font-size: calc(1rem + 10vw);
                    opacity: 0.1;
                    font-style: italic;
                }
                .card{
                    z-index: 2;
                    background-color: #ffffff60;
                    margin: 50px;
                    color: #000;
                    text-align: justify;
                    backdrop-filter: blur(10px);
                    box-shadow: #000 0px 0px 10px;
                    //max-width: 400px;
                    h1{
                        font-size: calc(1rem + 3vw);
                        font-family: "Ubuntu", sans-serif;
                        position: absolute;
                        color: #000;
                        
                        top: -100px;
                    }
                }
            }
            .title{
                font-family: 'Vina Sans', cursive;
                z-index: 1;
                top: 0%;
                font-size: calc(1rem + 10vw);
                text-shadow: #292929 0px 0px 10px;
                opacity: 0.4;
                color: #ccc;
                font-style: italic;
                
                z-index:0;
                
            }
            .team{
                margin-top: 100px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                justify-items: center;
                align-items: center;
                align-content: center;
                color: #000;
                gap: 50px;
                border-radius: 2rem;
                z-index: 2;
            
                h1{
                    display: flex;
                    font-size: calc(1rem + 3vw);
                    font-family: "Ubuntu", sans-serif;
                    color: #000000;
                    text-align: right;
                    max-width: 400px;
                    margin-left: 10%;
                    text-shadow: #5dbeff 0px 0px 10px;
                }
                .team-member{
                    display: flex;
                    margin-left: 50px;
                    flex-grow: 0;
                    height: 400px;
                    gap: 10px;
                    //first member
                    
                    .member{
                        overflow: hidden;
                        display: flex;
                        width: 200px;
                        height: 500px;
                        flex-grow: 0;
                        transition: all 0.5s ease-in-out;
                        justify-content: left;
                        align-items: start;
                        justify-items: start;
                        align-content: start;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #d5d5d5;
                        .info{
                            position: absolute;
                            height: 500px;
                            background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%);
                            align-items: baseline;
                            justify-content: left;
                            align-content: baseline;
                            text-align: left;
                            color: #d5d5d5;
                            .name{
                                font-size: calc(1rem + 1vw);
                                color: rgb(255, 255, 255);
                            }
                            p{
                                position: absolute;
                                bottom: 0px;
                                //rotate: 90deg;
                                width: 100%;
                                padding: 0px;
                                margin: 0px;
                                align-self: flex-end;
                                justify-self: left;
                                color: #d5d5d5;
                            }
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.5s ease-in-out;
                            z-index: 0;
                            
                        }
                        
                        //hover
                        &:hover{
                            //transform: scale(1.1);
                            width: 400px;
                            flex-grow: 1;
                            transition: all 0.5s ease-in-out;
                            animation: infinite 0.5s;
                        }
                    }
                }
            }

            .charts{
                width: 100%;

                .chart{
                    display: flex;
                    height: 100vh;
                    justify-content: center;
                    align-items: center;
                    margin-inline: 50px;
                   
                    canvas{
                        max-width: 50%;
                        max-height: 80%;
                    }

                    .results{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        gap: 20px;
                        color: #000000;
                        font-size: calc(1rem + 0.5vw);
                        font-family: "Ubuntu", sans-serif;
                        font-weight: bold;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        .little-chart{
                            width: 500px;   
                            height: 500px;
                            font-family: "Ubuntu", sans-serif;
                            font-weight: bold;
                            background-color: #000;
                            float: left;
                            shape-outside: content-box;
                            background-color: #ffffffb3;
                            canvas{
                                max-width: 100%;
                                max-height: 100%;
                                
                            }
                        }

                        .conclusion{
                            :nth-child(1){
                                color: #e9e9e9;
                                background-color: cornflowerblue;
                                font-size: calc(1rem + 2vw);
                            }
                            
                        }
                    }
                }

                .ratios{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    .ratio{
                        //background-color: #292929;
                        max-width: 400px;
                        padding: 50px;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        box-shadow: #000 0px 0px 10px;
                        border-radius: 2rem;
                    }
                }
            }

            .cards-H{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                justify-items: center;
                align-items: center;
                align-content: center;

                .marketing-card{
                    background:radial-gradient(ellipse at center, #ffffff00 0%, #ffffff 100%);
                    max-width: 800px;
                    display: flex;
                    flex-direction: column;
                    color: #141414;
                    margin: 10px;
                    //padding: 10px;
                    border-radius: 2rem;
                    box-shadow: inset 0px 0px 10px #000000;
                    height: min-content;
                    p{
                        color: #242424;
                        height: 50%;
                    }

                    .back{
                        width: 100%;
                        object-fit: contain;
                    }
                    img{
                        border-radius: 2rem 2rem 0px 0px;
                        padding: 0px;
                        margin: 0px;
                        height: 50%;
                    }
                }
            }
            canvas{
                background-color: #ffffff95;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }

            .canvas{
                display: flex;
                height: 100vh;
                width: 100%;
                flex-direction: column;
                -ms-flex-align: center;
                align-items: start;
                justify-content: baseline;
                //background-color: #1717179d;
                color: #fff;
                position: relative;
                margin-top: 10%;
                .title-1{
                    color: rgb(0, 0, 0);
                    font-size: 100px;
                    font-family: "Raleway", sans-serif;
                    &::after{
                        content: "Canvas";
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
                //create color variable sass
                $background-color: #5dbeff;
                
                .canvas_objects{
                    //grid of 5 columns
                    display: grid;
                    position: absolute;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    height: fit-content;
                    top: 15%;
                    color: black;
                    .div1 { grid-area: 1 / 5 / 3 / 6; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div2 { grid-area: 1 / 3 / 3 / 4; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div3 { grid-area: 2 / 4 / 3 / 5; background-color:$background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div4 { grid-area: 1 / 4 / 2 / 5; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div5 { grid-area: 3 / 3 / 4 / 6; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div6 { grid-area: 2 / 2 / 3 / 3; background-color:$background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div7 { grid-area: 1 / 2 / 2 / 3; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div8 { grid-area: 1 / 1 / 3 / 2; background-color:$background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    } 
                    .div9 { grid-area: 3 / 1 / 4 / 3; background-color: $background-color;
                        h1{
                            font-size:xx-large;
                            font-weight: bold;
                        }
                        p{
                            font-size: large;
                            padding: 0; 
                        }
                    }  
                    
                }
            }

            .swot{
                display: flex;
                width: 100%;
               //height: 100vh;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .title{
                    position: relative;
                }

                .swot_objects{
                    display: flex;
                    width: 800px;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    flex-wrap: wrap;
                    position: relative;
                    justify-content: center;
                    //childs
                    .el{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 20px;
                        width: 350px;
                        h1{
                            padding: 0px;
                            margin: 0px;
                            font-size: xx-large;
                            color: #000000;
                        }
                        p{
                            font-size: medium;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                    .swot1{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        border-bottom: #ccc 1px solid;
                        
                        div{
                           display: flex;
                           flex-wrap: wrap;
                           row-gap: 10px;
                            span{
                                background-color: #ffc400;
                                color: #000;
                                padding: 10px;
                                border-radius: 1rem;
                               
                                //box-shadow: inset 0px 0px 10px 0px #000000;
                            }
                        }
                        
                        
                    }
                    .swot2{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        border-left: #ccc 1px solid;
                        border-bottom: #ccc 1px solid;
                        div{
                            display: flex;
                            flex-wrap: wrap;
                            row-gap: 10px;
                            span{
                                background-color: #ff0073;
                                color: #000;
                                padding: 10px;
                                border-radius: 1rem;
                                margin: 3px;
                                //box-shadow: inset 0px 0px 10px 0px #000000;
                            }
                        }
                        
                    }
                    .swot3{
                        div{
                            display: flex;
                            flex-wrap: wrap;
                            row-gap: 10px;
                            
                            span{
                                background-color: #292929;
                                color: #d5d5d5;
                                padding: 10px;
                                border-radius: 1rem;
                                margin: 3px;
                               // box-shadow: inset 0px 0px 10px 0px #000000;
                            }
                        }
                        
                    }
                    .swot4{
                        border-left: #ccc 1px solid;
                        display: flex;
                        
                        div{
                            display: flex;
                            flex-wrap: wrap;
                            row-gap: 10px;
                            span{
                                background-color: #0073ff9f;
                                color: #000000;
                                padding: 10px;
                                border-radius: 1rem;
                                margin: 3px;
                                //box-shadow: inset 0px 0px 10px 0px #000000;
                            }
                            :nth-child(2){
                                background-color: #ff00009f;
                            }
                            :nth-child(3){
                                background-color: #05a3009f;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
    
}